.liItens {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.liCountry {

    grid-area: country;
}

.allLabels {
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #970480;
}

.inputAll {
    padding: 5px 0px 5px 10px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid hsla(310, 95%, 30%, 1);
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #5E5E5E;


}

.inputAll::placeholder {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: left;
    margin-left: 10px;
    color: #5E5E5E;
}

.inputAll:focus {
    outline: 3px solid rgb(120, 4, 101);
    outline-style: dotted;
    padding-left: 10px;
    padding-right: 0px;
}

.inputSelect {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: left;

    color: #5E5E5E;
}

.inputOption {

    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: left;

    color: #5E5E5E;

}

.liPhone {

    grid-area: phone;
}






.flag {
    width: 28px;
    height: 25px;

}

.liImage {
    padding: 20px 0px 0px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: image;

}

.idd {
    display: flex;
    align-items: center;
}